@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); 

body {
    font-family: "Krona One";
    background: rgb(255,239,239);
    background: linear-gradient(180deg, rgba(255,239,239,1) 0%, rgba(255,0,199,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.selection-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px; 
}

#select-fighter {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    font-family: "Krona One";
    border: 2px solid rgba(255,0,199,1); 
}

#select-fighter:hover {
    background-color: rgba(255,0,199,1); 
    color: white; 
}

 /* DROPDOWN-LIST ONE */ 
#fighter-one {
    border-radius: 10px;
    padding: 12px;
    font-family: "Krona One";
    border: 2px solid rgba(255,0,199,1); 
}
 /* DROPDOWN-LIST TWO*/ 
#fighter-two {
    border-radius: 10px;
    padding: 12px;
    font-family: "Krona One";
    border: 2px solid rgba(255,0,199,1); 
}


.fighter-wrapper {
    border-radius: 45px;
    border: 3px solid  rgba(255,0,199,1); 
    background-color: #FFEDED;
    height: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    padding: 40px; 
}

#character-info-card {
    border: 3px solid  rgba(255,0,199,1); 
    border-radius: 10px;
    text-align: center;
    padding: 12px; 
    background-color: #ffd8d8;

}


/* BUTTONS */ 

#compare-pokemon-button {
    border-radius: 10px;
    height: 60%; 
    padding: 12px; 
    font-family: "Krona One";
    border: 2px solid rgba(255,0,199,1); 
    background-color: white;

}

#compare-pokemon-button:hover {
    background-color: rgba(255,0,199,1); 
    color: white; 
}


#button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* STYLING FOR WINNER / LOSER / TIE */ 

.poke1 {
    color: rgba(255,0,199,1); 
}

.poke2 {
    color: rgb(255, 96, 231); 
}

.tie {
    color: peachpuff; 
}